*~
*.pdf
*.fdb_latexmk
*.toc
*.synctex.gz
*.syi
*.syg
*.slg
*.pdf
*.out
*.ntn
*.not
*.nlg
*.lot
*.log
*.lof
*.ist
*.gls
*.glo
*.glg
*.fls
*.aux
*.alg
*.acr
*.acn
*.blg
*.bbl
figs/b_csf_pca_svm/raw_igovti_correlation.eps
figs/b_csf_pca_svm/raw_igovti_covariance.eps

examples/*
