iexamples/*
figures/*.pdf
*~
*.pdf
*.aux
*.bbl
*.blg
*.fdb_latexmk
*.fls
*.lof
*.log
*.lot
*.out
*.pdf
*.synctex.gz
*.toc

figures/ch2/raw_igovti_correlation.eps
figures/ch2/raw_igovti_covariance.eps
