iexamples/*
figures/*.pdf
*~
*.pdf
*.aux
*.bbl
*.blg
*.fdb_latexmk
*.fls
*.lof
*.log
*.lot
*.out
*.pdf
*.synctex.gz
*.toc
chapters/1_introduction/*.aux
chapters/2_pca_svm_cfa/*.aux
chapters/2_pca_svm_cfa/*.tex
chapters/3_eigen_similarity/*.aux
chapters/4_mobile/*.aux
chapters/5_tensor_dl/*.aux
chapters/6_conclusion_future_work/*.aux
