*~

network-attack-detection/adaptive-multivariate-gaussian/figures/
network-attack-detection/__pycache__
network-attack-detection/BinetflowTrainer-master/__pycache__
network-attack-detection/BinetflowTrainer-master/runs_of_1s
network-attack-detection/BinetflowTrainer-master/runs_of_5s
network-attack-detection/BinetflowTrainer-master/saved_data
network-attack-detection/BinetflowTrainer-master/saved_data_fast
network-attack-detection/BinetflowTrainer-master/saved_v2
network-attack-detection/BinetflowTrainer-master/.idea
network-attack-detection/BinetflowTrainer-master/csv
network-attack-detection/BinetflowTrainer-master/pkl

igovti_fcs/results/


network-attack-detection/*.jpg
network-attack-detection/*.png
network-attack-detection/results/mcd/