*.pyc
*.out
*.jpg
*.png

.idea/
.ipynb_checkpoints/
__pycache_/
venv/

_/
output/
data/
results/agg/
results/pkl_sum_dict/
results/raw/

BinetflowTrainer-master/.idea/
BinetflowTrainer-master/__pycache__/
BinetflowTrainer-master/_/
BinetflowTrainer-master/runs_of_1s/
BinetflowTrainer-master/runs_of_5s/
BinetflowTrainer-master/saved_data/
BinetflowTrainer-master/saved_data_fast/
BinetflowTrainer-master/saved_v2/
BinetflowTrainer-master/csv/
BinetflowTrainer-master/pkl/