_
.ipynb_checkpoints
*.out
*.jpg
*.png
output
data/
results/figures/
results/pkl_sum/
results/pkl_sum_dict/
adaptive-multivariate-gaussian/figures/
__pycache__
BinetflowTrainer-master/__pycache__
BinetflowTrainer-master/runs_of_1s
BinetflowTrainer-master/runs_of_5s
BinetflowTrainer-master/saved_data
BinetflowTrainer-master/saved_data_fast
BinetflowTrainer-master/saved_v2
BinetflowTrainer-master/.idea
BinetflowTrainer-master/csv
BinetflowTrainer-master/pkl
venv/